<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/design.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <title>Register</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img src="../img/MasterCheap.png" width="150" /></a>
        <nav class="navigation">
            <a href="/">Index</a>
            <a href="/about.html">About</a>
            <a class="vers_connection" href="/users/login"><i class="fa-regular fa-user"></i>Login</a>
        </nav>
    </header>
    <section>
        <div class="wrapper_connect">
            <div class="box login">
                <h2>Create an account</h2>
                <form action="/users/register" method="POST">
                    <div class="inscription">
                        <span class="icon">
                            <i class="fa-regular fa-user"></i>
                        </span>
                        <input type="text" name="user_name" required />
                        <label>Username</label>
                    </div>
                    <div class="inscription">
                        <span class="icon">
                            <i class="fa-regular fa-envelope"></i>
                        </span>
                        <input type="email" name="user_email" required />
                        <label>Email</label>
                    </div>
                    <div class="inscription">
                        <span class="icon">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input type="password" name="user_password" required />
                        <label>Password</label>
                    </div>
                    <div class="inscription">
                        <span class="icon">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input type="password" name="user_confirmed_password" required />
                        <label>Confirm Password</label>
                    </div>
                    <div class="inscription">
                        <span class="icon">
                            <i class="fa-solid fa-house"></i>
                        </span>
                        <input name="user_adress" required />
                        <label>Adress</label>
                    </div>

                    <button type="submit" class="bouton">
                        REGISTER
                    </button>

                    <div class="vers_creation">
                        <a href="/users/login"> You have an account ?</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>